Needed things:
import os
import sys
import shutil
import winreg
import tkinter as tk
import subprocess
import requests
import customtkinter as ctk
from tkinter import messagebox
import ctypes
from pathlib import Path
import logging
import datetime.
Use powershell and download python
